@import 'base.scss';

.Footer {
    &__logo {
        width: $logo-width;
        height: $logo-height;
        margin-right: 30px;
    }

    #special {
        .List__item:not(:last-child) {
            margin-right: 130px;
        }
    }

    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}
