/* standart colors */
$color-black: #000000;
$color-grey: #666666;
$color-white: #ffffff;

/* color scheme */
$color-primary: #F5F7F3;
$color-secondary: #03B766;
$color-tertiary: #254741;

/* fonts */
$font-OpenSans: 'Open Sans', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;

/* padding */
$header-padding: 24px;
$footer-padding: 24px;
$slider-margin: 40px;
$aboutus-margin: 40px;
$projects-padding: 80px;
$news-padding: 80px;
$container-padding: 150px;

/* size */
$logo-width: 160px;
$logo-height: auto;
$icon-size: 16px;
$projects-size: 375px;