$color-black: #000000;
$color-grey: #666666;
$color-white: #ffffff;

$color-primary: #F5F7F3;
$color-secondary: #03B766;
$color-tertiary: #254741;

$font-OpenSans: 'Open Sans', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;

$s-padding: 20px;
$m-padding: 5px;
$l-padding: 120px;