@{
    ViewData["Title"] = "Home Page";
}

@section Slider {
    <div class="Slider">
            <div class="Slider__container">
                <img class="img--mobile" src="assets/slider/1_scaled.png"/>

                <img class="img--default is--show" src="assets/slider/1.png"/>
                <img class="img--default" src="assets/slider/2.png"/>
                <img class="img--default" src="assets/slider/3.png"/>

                <div class="Slider__button button--left" onclick="Slider(-1)">
                    <img src="assets/icons/left.svg"/>
                </div>
                <div class="Slider__button button--right" onclick="Slider(1)">
                    <img src="assets/icons/right.svg"/>
                </div>

                <div class="Slider__dots">
                    <div class="Slider__dot is--active"></div>
                    <div class="Slider__dot"></div>
                    <div class="Slider__dot"></div>
                </div>

                <div class="Slider__text">
                    <div class="Slider__big">
                        Проектируем<br> и строим<br> загородные дома
                    </div>
                    <div class="Slider__small">
                        Строим дома «под ключ»: от этапа проектирования<br> и до финишной отделки помещений
                    </div>
                </div>
            </div>
        </div>
}