html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

.NavPage {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  background-color: #03B766;
}
.NavPage__button {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
  margin-left: auto;
  border-radius: 6px;
}
.NavPage__button img {
  height: 16px;
  width: 16px;
}
.NavPage__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.NavPage__list--navigation {
  margin-top: 20px;
  margin-bottom: auto;
}
.NavPage__list--navigation a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.NavPage__list--contacts {
  margin-top: auto;
  margin-bottom: 20px;
}
.NavPage__list--contacts a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.NavPage__list--contacts img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.NavPage__list li {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

/* phone */
@media (min-width: 0px) {
  .NavPage {
    display: none;
  }
  .NavPage__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px;
    height: calc(100% - 60px);
  }
}
.Header {
  background-color: #ffffff;
}
.Header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

/* phone */
@media (min-width: 0px) {
  .Header__container {
    padding: 20px;
  }
  .Header__logo {
    width: auto;
    height: 32px;
    margin-right: auto;
  }
  .Header__button {
    display: none;
  }
  .Header__button:hover {
    cursor: pointer;
  }
  .Header__button--mobile {
    padding: 8px;
    background-color: #03B766;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-left: auto;
    border-radius: 6px;
  }
  .Header__button--mobile img {
    height: 16px;
    width: 16px;
  }
  .Header__list {
    display: none;
  }
  .Header__icon {
    display: none;
  }
  .Header__number {
    display: none;
  }
}
/* tablet */
@media (min-width: 768px) {
  .Header__container {
    padding: 5px;
  }
  .Header__logo {
    height: 36px;
  }
  .Header__button--mobile {
    display: none;
  }
  .Header__button {
    padding: 14px;
    background-color: #03B766;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-left: auto;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }
  .Header__list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .Header__list li {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .Header__list a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
  }
  .Header__list a:hover {
    cursor: pointer;
  }
}
/* desktop */
@media (min-width: 1400px) {
  .Header__container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Header__logo {
    height: 50px;
    margin-right: 80px;
  }
  .Header__icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-left: auto;
    display: block;
  }
  .Header__number {
    display: block;
  }
  .Header__number a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #254741;
  }
  .Header__number a:hover {
    cursor: pointer;
  }
  .Header__button {
    padding: 25px;
    margin-left: 20px;
  }
  .Header__list li {
    margin-left: 16px;
    margin-right: 16px;
  }
  .Header__list a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
  }
}
.Slider {
  background-color: #ffffff;
  width: 100%;
}
.Slider__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Slider__big {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.Slider__small {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.Slider__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Slider__container img {
  width: 100%;
}
.Slider__button, .Slider__dots, .Slider__dot {
  display: none;
}
.Slider__button:hover, .Slider__dot:hover {
  cursor: pointer;
}
.Slider .is--active {
  background-color: #03B766 !important;
}

/* phone */
@media (min-width: 0px) {
  .Slider__container {
    padding: 20px;
  }
  .Slider__container .img--mobile {
    display: block;
  }
  .Slider__container .img--default {
    display: none;
  }
  .Slider__container img {
    width: 100%;
    border-radius: 20px;
  }
  .Slider__text {
    padding: 20px;
    left: 20px;
    top: 45%;
  }
  .Slider__big {
    font-size: 30px;
  }
  .Slider__small {
    font-size: 16px;
  }
}
/* tablet */
@media (min-width: 768px) {
  .Slider__container {
    padding: 5px;
  }
  .Slider__container .img--mobile {
    display: none;
  }
  .Slider__container img {
    width: 100%;
    border-radius: 30px;
  }
  .Slider__text {
    padding: 5px;
    left: 105px;
    top: 25%;
  }
  .Slider__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #03B766;
    border-radius: 10px;
    position: absolute;
  }
  .Slider__button img {
    height: 12px;
    width: 12px;
  }
  .Slider .button--left {
    left: 20px;
  }
  .Slider .button--right {
    right: 20px;
  }
  .Slider__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
  }
  .Slider__dot {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #666666;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Slider .is--show {
    display: block !important;
  }
}
/* desktop */
@media (min-width: 1400px) {
  .Slider__container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Slider__container img {
    width: 100%;
    border-radius: 40px;
  }
  .Slider__text {
    padding: 120px;
    left: 170px;
    top: 10%;
  }
  .Slider__big {
    font-size: 36px;
  }
  .Slider__small {
    font-size: 20px;
  }
  .Slider__button {
    width: 64px;
    height: 64px;
    background-color: #03B766;
    border-radius: 15px;
    position: absolute;
  }
  .Slider__button img {
    height: 16px;
    width: 16px;
  }
  .Slider .button--left {
    left: 145px;
  }
  .Slider .button--right {
    right: 145px;
  }
  .Slider__dots {
    bottom: 40px;
  }
  .Slider__dot {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

/*# sourceMappingURL=main.css.map */
