.Slider {
  background-color: #ffffff;
  width: 100%;
}
.Slider__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Slider__big {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.Slider__small {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.Slider__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Slider__container img {
  width: 100%;
}
.Slider__button, .Slider__dots, .Slider__dot {
  display: none;
}
.Slider__button:hover, .Slider__dot:hover {
  cursor: pointer;
}
.Slider .is--active {
  background-color: #03B766 !important;
}

/* phone */
@media (min-width: 0px) {
  .Slider__container {
    padding: 20px;
  }
  .Slider__container .img--mobile {
    display: block;
  }
  .Slider__container .img--default {
    display: none;
  }
  .Slider__container img {
    width: 100%;
    border-radius: 20px;
  }
  .Slider__text {
    padding: 20px;
    left: 20px;
    top: 45%;
  }
  .Slider__big {
    font-size: 30px;
  }
  .Slider__small {
    font-size: 16px;
  }
}
/* tablet */
@media (min-width: 768px) {
  .Slider__container {
    padding: 5px;
  }
  .Slider__container .img--mobile {
    display: none;
  }
  .Slider__container img {
    width: 100%;
    border-radius: 30px;
  }
  .Slider__text {
    padding: 5px;
    left: 105px;
    top: 25%;
  }
  .Slider__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #03B766;
    border-radius: 10px;
    position: absolute;
  }
  .Slider__button img {
    height: 12px;
    width: 12px;
  }
  .Slider .button--left {
    left: 20px;
  }
  .Slider .button--right {
    right: 20px;
  }
  .Slider__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
  }
  .Slider__dot {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #666666;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Slider .is--show {
    display: block !important;
  }
}
/* desktop */
@media (min-width: 1400px) {
  .Slider__container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Slider__container img {
    width: 100%;
    border-radius: 40px;
  }
  .Slider__text {
    padding: 120px;
    left: 170px;
    top: 10%;
  }
  .Slider__big {
    font-size: 36px;
  }
  .Slider__small {
    font-size: 20px;
  }
  .Slider__button {
    width: 64px;
    height: 64px;
    background-color: #03B766;
    border-radius: 15px;
    position: absolute;
  }
  .Slider__button img {
    height: 16px;
    width: 16px;
  }
  .Slider .button--left {
    left: 145px;
  }
  .Slider .button--right {
    right: 145px;
  }
  .Slider__dots {
    bottom: 40px;
  }
  .Slider__dot {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

/*# sourceMappingURL=slider.css.map */
